{% extends 'wines/base.html' %}

{% block content %}

<h1> Bienvenue dans votre Cave {{ cave.nom|upper }} ! </h1>

<form method="get">
    {{ form.as_p }}
    <button type="submit">Rechercher</button>
</form>

<ul>
    {% for vin in vins %}
        <li><a href="{% url 'vin-details' vin.id %}">{{ vin.nom }}</a>
            <a href="{% url 'vin-update' vin.id %}">[modifier]</a></li>
    {% empty %}
        <li>Aucun vin trouvé.</li>
    {% endfor %}
</ul>

<p><a href="{% url 'carte-france' cave.id %}">Carte des vins</a></p>

<button><a href="{% url 'vin-create' cave.id %}">Ajouter un vin</a></button>
<button><a href="{% url 'cave-delete' cave.id %}">Supprimer cette cave</a></button>

{% endblock %}